{
  "identities": [
    {
      "name": "ingevec-api",
      "credentials": [
        {
          "accessKey": "COPY_S3_ACCESS_KEY_FROM_ENV",
          "secretKey": "COPY_S3_SECRET_KEY_FROM_ENV"
        }
      ],
      "actions": ["Admin", "Read", "List", "Tagging", "Write"]
    }
  ]
}
